html,
input,
button {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ＭＳ ゴシック" , "MS Gothic", "Noto Sans CJK JP", TakaoPGothic, sans-serif;
  color: hsl(72, 56%, 2%);
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: hsl(21, 24%, 78%);
}

label {
  display: block;
}

input,
button {
  padding: 10px;
  border-radius: 4px;
}

input {
  height: 20px;
  width: 400px;
  margin-bottom: 10px;
  border: 1px solid hsl(21, 24%, 68%);
  background-color: hsl(21, 24%, 84%);;
}

button {
  display: block;
  width: 100%;
  font-size: 1rem;
  background-color: hsl(0, 46%, 44%);
  border: none;
  color: white;
  transition: background-color .2s;

  &:hover,
  &:active {
    background-color: hsl(0, 46%, 60%);
  }
}
