:root {
  --black: hsl(72, 56%, 2%);
  --highlight: hsl(354, 66%, 74%);
}

html,
input,
button {
  font-family:
    "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, メイリオ, Meiryo, "ＭＳ Ｐゴシック",
    "MS PGothic", "ＭＳ ゴシック" , "MS Gothic", "Noto Sans CJK JP", TakaoPGothic, sans-serif;
  color: var(--black);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

a {
  color: var(--highlight);

  &:hover,
  &:active {
    filter: brightness(1.2);
  }
}

.page {
  display: flex;
  height: 100%;
}

.divider {
  width: 50%;
  height: 1px;
  margin: 20px auto;
  background-color: hsl(0, 0%, 70%);
}

#logout_link {
  background-color: var(--highlight);
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  transition: filter .2s;
  position: relative;
  text-align: center;

  &:hover,
  &:active {
    filter: brightness(1.2);
  }
}

#dashboard_navigation {
  width: 240px;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  background-color: hsl(0, 0%, 98%);

  & summary {
    font-weight: bold;
    font-size: .9em;
    color: hsl(0, 0%, 70%);
    text-transform: uppercase;
  }

  & ul {
    list-style: none;
    padding-left: 25px;
  }

  & a {
    display: block;
    text-decoration: none;
  }

  & a + a {
    margin-top: 10px;
  }
}

#page_content {
  flex: 1;
  padding: 20px;

  & table {
    width: 100%;
    border-collapse: collapse;
    border: none;
  }

  & tbody tr:nth-child(odd) {
    background-color: hsl(354, 60%, 98%);
    border-top: 1px solid var(--highlight);
    border-bottom: 1px solid var(--highlight);
  }

  & td,
  & th {
    box-sizing: border-box;
    padding: 12px;
    text-align: left;
    border: none;
  }
}

.index-column {
  width: 5%;
}

.username-column {
  width: 25%;
}
