<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Fastify starter</title>

    <link rel="stylesheet" type="text/css" href="/public/css/dashboard.css">
  </head>
  <body>
    <div class="page">
      <nav id="dashboard_navigation">
        <details open>
          <summary>Pages</summary>

          <ul>
            <a href="/dashboard">Dashboard</a>
            <a href="/dashboard/users">Users</a>
          </ul>
        </details>

        <div class="divider"></div>

        <a href="/login/0/delete" id="logout_link">Logout</a>
      </nav>
      <div id="page_content">

        <%- body %>

      </div>
    </div>
  </body>
</html>
