<div>
  <a href="/dashboard/users/new">Add a user</a>
</div>

<table>
  <thead>
    <tr>
      <th class="index-column">#</th>
      <th class="username-column">Username</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>

    <% for (let i = 0; i < users.length; i++) { %>
    <tr>
      <td class="index-column"><%= i + 1 %></td>
      <td class="username-column"><%= users[i].username %></td>
      <td></td>
    </tr>
    <% } %>

  </tbody>
</table>
